.btn {
    font-size: 1.6rem;
    width: fit-content;
    padding: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;

    &.text {
        background-color: $while-color;
        width: fit-content;
    }

    &.primary {
        background-color: $primary-color;
        color: $while-color;
    }

    &.rouded_sx {
        border-radius: 6px;
    }

    &.rouded_full {
        border-radius: 999px;
    }

    &.outline {
        border: 1px solid currentColor;
        color: currentColor;
    }

    &[disable] {
        cursor: not-allowed;
    }

    .left-icon {
        margin-right: 8px;
    }

    .right-icon {
        margin-left: 8px;
    }
}
