.form-group {
    font-size: 1.6rem;
    width: 100%;
    position: relative;
}

.form-group input {
    border: 1px solid $border-color;
    border-radius: 6px;
    padding: 12px;
    color: $text-color;
    width: 100%;
    font-size: inherit;
    margin: 6px 0 16px 0;
}

.form-group:focus-within input {
    border: 1px solid $text-color;
}

.form-group label {
    font-size: 1.5rem;
    color: $gray-second;
    font-weight: 500;
}

.form-group {
    .wrapp-input {
        position: relative;
        height: auto;

        .btn-eye {
            position: absolute;
            background-color: $while-color;
            top: 50%;
            right: 10px;
            padding: 0;
            transform: translateY(-68%);
            color: $gray-color;
            border-radius: 999px;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            &:hover {
                background-color: $hover-color;
            }
        }
    }
}

.form-group .error-mes {
    color: $primary-color;
    margin-top: 0;
}
