.menu-drop-wrap {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;

    .menu-drop-header {
        display: flex;
        align-items: center;
        height: 100%;

        img {
            width: 36px;
            height: 18px;
        }

        .menu-title {
            font-size: 1.4rem;
            text-transform: capitalize;
            font-weight: 600;
            padding: 0 6px;
        }

        svg {
            fill: $while-color;
        }
    }

    .menu-list {
        position: absolute;
        display: none;
        top: calc(100% + 6px);
        right: 0;
        min-width: 200px;
        background-color: $while-color;
        color: $text-color;
        font-weight: 600;
        text-transform: capitalize;
        border-radius: 6px;
        overflow: hidden;
        padding: 8px 0;
        font-size: 1.2rem;
        z-index: 100;
        @include boxsadow(0px, 6px, 12px, 0, rgba(49, 49, 49, 0.16));

        img {
            margin-right: 8px;
            width: 30px;
        }
    }

    .menu-list .menu-list-item:hover {
        color: $primary-color;
    }

    .menu-wrap-item {
        overflow: hidden;
    }

    .menu-wrap-item.active .menu-list {
        display: block;
    }

    .menu-list .menu-list-item {
        padding: 8px 16px;
        display: flex;

        &:hover {
            background-color: $hover-color;
            color: $primary-color;
        }

        a {
            width: 100%;
            height: 100%;
        }
    }
}
