$font-family: 'Open Sans', sans-serif;

// color setting
$primary-color: #e94560;
$blue-color: #0f3460;
$text-color:rgb(43 52 69);
$yellow-color:#ffcd4e;
$while-color: #fff;
$gray-color:rgb(125 135 156);

$hover-color:rgb(246, 249, 252);

// height seting 
$header-top-height: 40px;