header {
    width: 100%;
    color: $while-color;
    .header-top {
        background: $blue-color;
        width: 100%;
        height: $header-top-height;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.2rem;

        .header-inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: $header-top-height;
        }

        .header-top-left {
            display: flex;
        }
    }

    .wrapp-contact-icon {
        display: flex;
        align-items: center;

        .header-icon {
            margin-right: 10px;

            svg {
                fill: $while-color;
            }
        }
    }

    .wrapp-contact-icon + .wrapp-contact-icon {
        margin-left: 14px;
    }

    .header-top-right {
        display: flex;
        align-items: center;
        height: 100%;

        .header-top-link {
            padding: 0 8px;
            margin-right: 14px;
            display: flex;
            align-items: center;
            color: $while-color;
            height: 100%;

            &:hover {
                color: $primary-color;
            }
        }

        .header-top-currency {
            margin-left: 20px;
            height: 100%;
        }

        .menu-drop-header img {
            border-radius: 5px;
        }
    }

    .header-bottom {
        width: 100%;
        height: auto;
    }

    .header-bottom-logo-and-search-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: $header-bottom-with-logo;
        @include transition(all, 0.3s, linear);
    }

    .header-search-wrap {
        border: 1px solid $border-color;
        padding: 6px;
        border-radius: 999px;
        display: flex;
        align-items: center;
        color: $gray-color;
        padding: 0 12px;
        height: $header-search-height;
        width: $header-search-width;
        position: relative;

        input {
            width: 100%;
            height: 100%;
            padding: 0 8px;
            font-size: 1.4rem;
            font-weight: 400;
            color: currentColor;
            text-transform: capitalize;
        }

        .search-with-categorie {
            width: fit-content;
            flex: 0 0 auto;
            padding: 0 4px 0 12px;
            height: 100%;
            position: relative;
            border: 1px solid transparent;

            &::before {
                content: '';
                width: 0.3px;
                height: 100%;
                background-color: $border-color;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0px;
            }

            .menu-title {
                font-weight: 400;
            }

            .menu-list .menu-list-item {
                font-weight: 400;
                text-transform: capitalize;
                font-size: 1.4rem;
                color: $gray-color;
                @include transition(all, 0.2s, linear);

                &:hover {
                    color: $primary-color;
                }
            }
        }

        &:hover {
            border: 1px solid $gray-color;
        }

        &:focus-within {
            border: 1px solid $primary-color;
        }

        .search-result {
            display: none;
        }

        .search-result-active {
            display: block;
            padding: 8px 0;
            position: absolute;
            top: calc(100% + 6px);
            left: 0;
            width: 100%;
            border-radius: 6px;
            overflow: hidden;
            z-index: 99;
            background-color: $while-color;
        }

        .search-result-list .search-result-list--item {
            padding: 10px 12px;

            &:hover {
                background-color: $hover-color;
                cursor: pointer;
                color: $blue-color;
            }
        }
    }

    .header-user-action-wrap {
        display: flex;
        align-items: center;
        color: $text-color;

        .avatar-user,
        .header-basket {
            width: 44px;
            height: 44px;
            background-color: $hover-color;
            border-radius: 999px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 20px;
            cursor: pointer;
        }

        .header-basket {
            position: relative;
        }

        .header-count-quanity {
            position: absolute;
            min-width: 20px;
            height: 20px;
            min-width: 20px;
            background-color: $primary-color;
            font-size: 1rem;
            top: -4px;
            right: -8px;
            border-radius: 999px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $while-color;
            font-weight: 600;
        }
    }
}

.header-form-wrap {
    width: 100%;
    max-width: 570px;
    #form-content {
        padding: 3rem 5.5rem 0;
        .header-form-title {
            text-align: center;
            font-size: 2.2rem;
            color: $text-color;
            font-weight: 700;
            margin-bottom: 0.6rem;
        }

        .header-form-des {
            margin-top: 6px;
            text-align: center;
            font-size: 1.4rem;
            color: $gray-second;
            margin-bottom: 4.2rem;
            font-weight: 600;
        }
    }

    .party-wall-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0 10px;
        position: relative;

        span {
            color: $gray-second;
            background-color: $while-color;
            padding: 4px;
        }

        .party-wall-line {
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: $hover-color;
            z-index: -1;
        }
    }

    .btn-signup {
        margin-bottom: 15px;
        font-weight: 600;
        font-size: 1.4rem;
        color: $while-color;
        width: 100%;

        span {
            margin-left: 6px;
        }
    }

    .btn-signup-fa {
        background-color: $login-facebook-color;
    }

    .btn-signup-go {
        background-color: $login-google-color;
    }

    .not-account-alert-wrap {
        margin: 32px 0;
        text-align: center;
        color: $gray-second;
        span {
            margin-right: 8px;
        }
    }

    .footer-form-wrap {
        padding: 20px;
        background-color: $hover-color;
        width: 100%;
        text-align: center;
        color: $gray-second;
        border-radius: 0 0 10px 10px;
        span {
            margin-right: 8px;
        }
    }

    .link-item-under {
        text-decoration: underline;
        font-weight: 600;
        color: $text-color;

        &:hover {
            text-decoration: none;
        }
    }
}

.header-bottom {
    @include boxsadow(0px, 4px, 16px, 0, rgba(43, 52, 69, 0.1));
    .header-bottom-navbar-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: $header-bottom-navbar-height;
    }

    .header-categories-navbar-wrap {
        width: fit-content;
        position: relative;

        .btn-categories {
            padding: 12px 16px;
            background-color: $hover-color;
            color: $gray-color;
            font-weight: 600;
            font-size: 1.4rem;

            @include boxsadow(0, 0px, 1px, 0, #8499c960);
            &:hover {
                @include boxsadow(0, 1px, 1px, 0, #8499c960);
            }
        }

        .categories-list {
            --categoires-mini-with: 298px;
            position: absolute;
            display: flex; 
            flex-direction: column;
            z-index: 10;
            top: 125%;
            min-width: var(--categoires-mini-with);
            width: 100%;
            border-radius: 6px;
            padding: 6px 0;
            background-color: $while-color;
            font-size: 1.4rem;
            @include boxsadow(0px, 4px, 16px, 0, rgba(43, 52, 69, 0.1));

            &-item-link {
                display: flex;
                align-items: center;
                padding: 10px 16px;
                color: $text-color;
                text-transform: capitalize;

                .item-name {
                    flex-grow: 1;
                    margin-left: 10px;
                }

                &:hover {
                    background-color: $hover-red-color;
                    opacity: 0.8;
                    color: $primary-color;
                }
            }

            &-item:hover > .wrapper-list {
                // display: block;
                display: none;
            }

            .wrapper-list {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 100%;
                z-index: 10;
                min-width: 368px;
                min-height: 100%;
                width: 100%;
                padding-left: 18px;
                background-color: transparent;
                display: none;
                box-shadow: none;
            }

            .categories-list-children {
                background-color: $while-color;
                border-radius: 6px;
                min-height: 100%;
                width: 100%;
                padding: 6px 0;
                display: flex;
                overflow: hidden;
                @include boxsadow(0px, 4px, 16px, 0, rgba(43, 52, 69, 0.1));

                .categories-list-item-link {
                    .item-name {
                        margin-left: 0;
                    }
                }
            }
        }

        .categories-list--is-hidden{
            display: none;   
        }
    }

    .header-navbar-menu {
        color: $text-color;
        font-size: 1.4rem;

        .header-menu-list {
            display: flex;
            align-items: center;
        }

        .header-menu-list-item {
            display: block;
        }

        .header-menu-list-item-link {
            display: block;
            padding: 6px 18px;
            text-transform: capitalize;

            &:hover {
                color: $primary-color;
            }
        }
    }
}
