@media only screen and (min-width: 0px) {
    .row {
        margin: -10px;
        display: flex;
        flex-wrap: wrap;
    }

    .col {
        padding: 10px;
    }

    .col-mobile-hidden {
        display: none;
    }

    @for $i from 1 through 12 {
        .col-xs-#{$i} {
            width: calc(100% / 12) * $i;
        }
    }
}

@media only screen and (min-width: 576px) {
    .row {
        margin: -12px;
    }

    .col.col-gap {
        padding: 12px;
    }

    @for $i from 1 through 12 {
        .col-sm-#{$i} {
            width: calc(100% / 12) * $i;
        }
    }
}

@media only screen and (min-width: 768px) {
    .row {
        margin: -12px;
    }

    .col.col-gap {
        padding: 12px;
    }

    .is-labtop-hidden {
        display: none;
    }

    @for $i from 1 through 12 {
        .col-md-#{$i} {
            width: calc(100% / 12) * $i;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .row {
        margin: -12px;
    }

    .col.col-gap {
        padding: 12px;
    }

    .is-pc-hidden {
        display: none;
    }

    @for $i from 1 through 12 {
        .col-lg-#{$i} {
            width: calc(100% / 12) * $i;
        }
    }
}

@media only screen and (min-width: 1200px) {
    .row {
        margin: -12px;
    }

    .col.col-gap {
        padding: 12px;
    }

    @for $i from 1 through 12 {
        .col-xl-#{$i} {
            width: calc(100% / 12) * $i;
        }
    }
}
